<div class="converter">
    <h2>Converter</h2>
    <div class="converter__input">
        <input type="text" placeholder="Enter Amount.." [formControl]="amount">
    </div>
    <div class="converter__dropdown">
        <label>From</label>
        <select [formControl]="currencyOne">
            <option *ngFor="let currency of tickers">{{currency}}</option>
        </select>
    </div>
    <div class="converter__dropdown">
        <label>To</label>
        <select [formControl]="currencyTwo">
            <option *ngFor="let currency of tickers">{{currency}}</option>
        </select>
    </div>

   

    <div (click)="onConvertClick()" class="converter__button">
        <button >CONVERT</button>
    </div>
    <p> {{result}} {{currencyTwo.value}} = {{amount.value}} {{currencyOne.value}}</p>
</div>
