<div class="converter">
	<h2>Converter</h2>
	
	<form #converter="ngForm" (submit)="onConvertClick()" [formGroup]="converterForm">
		<div class="converter__input">
			<input type="text" placeholder="Enter Amount.." formControlName="amount">
		</div>
		<small class="error-msg" [ngClass]="converterForm.controls.currencyOne.errors && converter.submitted ?'visible':'hidden'">Invalid Input</small>
		<div class="converter__dropdown">
			<label>From</label>
			<select formControlName="currencyOne">
				<option [ngValue]="undefined" selected>Select</option>
				<option *ngFor="let currency of tickers">{{currency}}</option>
			</select>
			<small class="error-msg" [ngClass]="converterForm.controls.currencyOne.errors && converter.submitted ?'visible':'hidden'">Select a Currency</small>
		</div>
		<div class="converter__dropdown">
			<label>To</label>
			<select formControlName="currencyTwo">
				<option [ngValue]="undefined" selected>Select</option>
				<option *ngFor="let currency of tickers">{{currency}} </option>
			</select>
			<small class="error-msg" [ngClass]="converterForm.controls.currencyOne.errors && converter.submitted ?'visible':'hidden'">Select a Currency</small>
		</div>
		<div class="converter__button">
			<button type="submit"><i class="fas fa-exchange-alt"></i></button>
				<p *ngIf="converterForm.status!=='INVALID'">
		{{converterForm.value.amount}} {{converterForm.value.currencyOne}} =
		{{result.toFixed(2)}} {{converterForm.value.currencyTwo}}
	</p>
		</div>
	</form>
	<small class="note">*rates correct as of today</small>
	<div class="clear"></div>
</div>