<div class="dashboard">
	<div class="dashboard__nav-bar">
		<app-nav-bar></app-nav-bar>
	</div>
	<div class="dashboard__ticker">
		<app-ticker-list></app-ticker-list>
	</div>
	<div class="dashboard__main-content-wrapper">
		<div class="dashboard__main-content-wrapper__graph">
			  <app-graph [data]="data"></app-graph>
		</div>
		<div class="dashboard__main-content-wrapper__tools">
			<div>
				<app-currency-converter></app-currency-converter>
			</div>
			<div>
				<app-risers-fallers> </app-risers-fallers>
			</div>
		</div>
	</div>
</div>
