@import "../../../styles.scss";
.risers-fallers {
    background-color: white;
    height: 100%;
    margin: 6px;
    box-shadow: 2px 2px 4px black;
    h2{
        color: $blue;
        font-size: 2em;
        text-align: center;
        padding-top: 6px;
    }
    table {
        width: 85%;
        text-align: center;
        margin: 0 auto;
    }
    label{
        width: 85%;
        margin: 6px auto;
        display: block;
        font-weight: bold;
    }
    tr:nth-child(even){
        background-color: #dddddd
    }
}