.ticker-item{
    
    box-shadow: 1px 1px 2px black;
    margin: 6px;
    cursor: pointer;

    
    &__header{
        display: flex;
        align-items: center;
        justify-content: center;
        
        height: 50px;
        
    }
    &__content{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    P{
        font-weight: bold;
    }
    img{
        height: 25px;
        width: 25px;
        border-radius: 50%;
        margin-left: 6px;
    }
}

.highcharts-container{
    background-color: green;
}